<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<div class="home-container">

  <h3 class="center-align">Hello, <%= current_user.first_name %>! </h3>
  <div class="row">

    <div class="col s2">
      <h4>Users</h4>
      <ul>
        <% @users.each do |user| %>
          <a href="/<%= user.id %>"><li><%= user.full_name %></li></a>
        <% end %>
      </ul>
    </div>

    <form method="post" action="/post-blog" class="col s5">
       <h4>Post New Blog</h4>

        <div class="input-field col s9">
          <label for="title">Title</label>
          <input name="title" type="text" class="validate" maxlength="50" required>
        </div>

        <div class="input-field col s9">
          <label for="message">Message</label>
          <textarea name="message" type="text" class="materialize-textarea" maxlength="150" length="150" required></textarea>

          <button class="btn waves-effect waves-light" type="submit">Post</button>
        </div>
    </form>

    <div class="col s5">
      <h4>Feed</h4>
      <% @posts.take(10).each do |post| %>
        <div class="card card-color">
          <div class="card-content card-text-color">
            <span class="card-title"><%= post.title %></span>
              <div>
                Created By: <%= post.user.first_name %>
                <br>
                Created At: <%= post.custom_created_at %>
                <br> 
                <%= post.message %>
              </div>
              <br>
          </div>
          <form method="post" action="/delete-post" class="card-action">
            <input type="hidden" name="id" value="<%= post.id %>">
            <button class="btn waves-effect waves-light" type="submit">Delete</button>
          </form>
        </div>
      <% end %>
    </div>

  </div>
</div>
</body>
</html>